@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
:root {
  --primary-color: #ED1B23;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 1em 2em;
}

.navbar .container .logo {
  margin-top: .2em;
}

.navbar .container .logo img {
  width: 100px;
}

.navbar .container nav {
  display: none;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444;
}

.to-top {
  position: fixed;
  right: 1.5em;
  bottom: 1em;
  width: 4em;
  height: 4em;
  border: none;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.25);
  color: #373434;
  outline: none;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.to-top.active {
  bottom: 2em;
  pointer-events: auto;
  opacity: 1;
}

.to-top:active {
  background: #DADADA;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

h5 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 3em;
}

.hero {
  padding: 0;
  position: relative;
  text-align: center;
  height: 100vh;
  max-height: 800px;
  background-color: yellowgreen;
}

.hero img {
  height: 100vh;
  max-height: 800px;
}

.hero .container {
  padding: 5em 2em;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.hero .container h1 {
  font-size: 2em;
  line-height: 1.3em;
  margin-top: .2em;
  font-weight: 600;
  color: #f6f6f6;
}

.hero .container span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, red), color-stop(90%, red), color-stop(90%, transparent));
  background: linear-gradient(to bottom, transparent 60%, red 60%, red 90%, transparent 90%);
}

section.features-section {
  background: #FFF;
  color: #373434;
  text-align: center;
}

section.features-section .features-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 5em;
  text-align: left;
}

section.features-section .features-container .feature-item div > img {
  width: 100%;
  height: 300px;
}

section.features-section .features-container .feature-item h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-top: 1em;
}

section.features-section .features-container .feature-item p {
  font-size: 16px;
  margin: 0;
  margin-top: 0.5em;
}

section.separator {
  padding: 0;
  position: relative;
  text-align: center;
  color: white;
}

section.separator .container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

section.separator .container h2 {
  margin: 0;
  padding: 0 2em;
  font-size: 1.5em;
  font-weight: 400;
}

.about-section {
  background-color: #ebd7d7;
}

.about-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.about-section .container .about-info h5 {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0;
}

.about-section .container .about-info p {
  font-size: 1.2em;
  font-weight: 400;
}

.about-section .container .about-img img {
  margin-top: 1.5em;
  width: 100%;
}

.goal-phrase .container {
  padding: 1em;
}

.goal-phrase .container h2 {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.2em;
  text-align: left;
}

.services-image {
  height: 50vh;
  min-height: 300px;
  background-image: url("./images/content/dinningRoom.png");
}

.services .container h2 {
  line-height: 1.1em;
}

.services .container .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .container .service-item img {
  margin: 2em 0 7em;
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.call-section {
  background: var(--primary-color);
  color: #FFF;
}

.call-section h3 {
  font-size: 1.5em;
  line-height: 1.2em;
}

.call-section button {
  font-size: 1.2em;
  background-color: white;
  border-style: none;
  padding: .5em 1em;
  border-radius: 3em;
}

.call-section button:hover {
  background-color: whitesmoke;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input,
textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: #FFF;
  font-weight: 700;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
  opacity: 1;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 998;
  width: 66%;
  right: 0;
  top: 0;
  background: #373434;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
  width: 2em;
  height: 2em;
}

footer {
  padding: 5em 2em;
  background-color: #444;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.contact-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.contact-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .hero .container h1 {
    font-size: 3em;
    width: 90%;
  }
  .features-section {
    position: relative;
  }
  .testimonials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */